
/* ==== ==== ==== FUENTES ==== ==== ====  */
$fuente_principal: 'Raleway', sans-serif;;
$fuente_secundaria: 'Tilt Warp', cursive;
$fuente_cursiva: 'Bona Nova', serif;


/* ==== ==== ==== MEDIA QUERIES ==== ==== ====  */
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;


/* ==== ==== ==== COLORES ==== ==== ====  */
$primario: #5E311E;
$secundario: #C39c63;
$negro: #000000;
$blanco: #FFFFFF;
$gris_claro: #ECEEEF;
$cafe_claro: #EBE7DE;


/* ==== ==== ==== UNIDADES ==== ==== ====  */
$separacion: 5rem;