@use 'base/mixins' as mix;

.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mix.tablet { 
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 50%;
        margin: 0 auto;
         @include mix.tablet { 
            width: 20rem;
            margin: 0;
         }
    }
}